---

---
<section class="mb-8">
  <div class="mb-6">
    <h1 class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden">
      <span class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue">
        TechBytes
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  
  <div class="border-b-9 border-solid border-primary-blue p-10 text-center rounded-10 bg-primary-blue">
    <p class="mb-5">
      <strong>👋 Welcome to TechBytes, your digital haven for insightful tech content. Explore our curated blogs, where innovation meets inspiration. Dive into the world of technology with us and stay updated on the latest trends..</strong> 
    </p>
  </div>
</section>
